#ifndef SECRETS_H
#define SECRETS_H

// --- Wi-Fi ve Telegram Ayarları ---
const char* ssid = "YOUR_WIFI_SSID";           // Wi-Fi Adınız
const char* password = "YOUR_WIFI_PASSWORD";   // Wi-Fi Şifreniz
const char* botToken = "YOUR_BOT_TOKEN";       // Telegram Bot Token (örn. 123456789:ABCdefGh...)
const char* chatId = "YOUR_CHAT_ID";           // Telegram Chat ID (örn. 987654321)

#endif
